body {
    display:flex;
    justify-content: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: xx-large;
    margin-top: 15%;

}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    border: 2px solid white;
    border-radius: 50px;
    padding: 5% 10% 5% 10%;
    background-color: white;
    width: 65%;
    margin-top: 45%;
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.suvs button {
    color: hsl(179, 100%, 13%);
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    height: 55vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cars {
    padding: 15%;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

@media (max-width: 700px) {
    
    body {
        font-size: large;
    }

    button {
        margin-top: 22.5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }
}